<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_seata.dao.LockTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_seata.model.LockTable">
        <id column="row_key" property="rowKey" />
        <result column="xid" property="xid" />
        <result column="transaction_id" property="transactionId" />
        <result column="branch_id" property="branchId" />
        <result column="resource_id" property="resourceId" />
        <result column="table_name" property="tableName" />
        <result column="pk" property="pk" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        row_key, xid, transaction_id, branch_id, resource_id, table_name, pk, gmt_create, gmt_modified
    </sql>

</mapper>
