<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_nacos.dao.ConfigInfoBetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_nacos.model.ConfigInfoBeta">
        <id column="id" property="id" />
        <result column="data_id" property="dataId" />
        <result column="group_id" property="groupId" />
        <result column="app_name" property="appName" />
        <result column="content" property="content" />
        <result column="beta_ips" property="betaIps" />
        <result column="md5" property="md5" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="src_user" property="srcUser" />
        <result column="src_ip" property="srcIp" />
        <result column="tenant_id" property="tenantId" />
        <result column="encrypted_data_key" property="encryptedDataKey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, data_id, group_id, app_name, content, beta_ips, md5, gmt_create, gmt_modified, src_user, src_ip, tenant_id, encrypted_data_key
    </sql>

</mapper>
