<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_nacos.dao.TenantCapacityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_nacos.model.TenantCapacity">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="quota" property="quota" />
        <result column="usage" property="usage" />
        <result column="max_size" property="maxSize" />
        <result column="max_aggr_count" property="maxAggrCount" />
        <result column="max_aggr_size" property="maxAggrSize" />
        <result column="max_history_count" property="maxHistoryCount" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, quota, usage, max_size, max_aggr_count, max_aggr_size, max_history_count, gmt_create, gmt_modified
    </sql>

</mapper>
