<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_multishop.dao.IndexImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_multishop.model.IndexImg">
        <id column="img_id" property="imgId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="shop_id" property="shopId" />
        <result column="img_url" property="imgUrl" />
        <result column="status" property="status" />
        <result column="seq" property="seq" />
        <result column="spu_id" property="spuId" />
        <result column="img_type" property="imgType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        img_id, create_time, update_time, shop_id, img_url, status, seq, spu_id, img_type
    </sql>

</mapper>
