<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.ShopCartItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.ShopCartItem">
        <id column="cart_item_id" property="cartItemId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="shop_id" property="shopId" />
        <result column="spu_id" property="spuId" />
        <result column="sku_id" property="skuId" />
        <result column="user_id" property="userId" />
        <result column="count" property="count" />
        <result column="price_fee" property="priceFee" />
        <result column="is_checked" property="isChecked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_item_id, create_time, update_time, shop_id, spu_id, sku_id, user_id, count, price_fee, is_checked
    </sql>

</mapper>
