<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.Sku">
        <id column="sku_id" property="skuId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="spu_id" property="spuId" />
        <result column="sku_name" property="skuName" />
        <result column="attrs" property="attrs" />
        <result column="img_url" property="imgUrl" />
        <result column="price_fee" property="priceFee" />
        <result column="market_price_fee" property="marketPriceFee" />
        <result column="party_code" property="partyCode" />
        <result column="model_id" property="modelId" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sku_id, create_time, update_time, spu_id, sku_name, attrs, img_url, price_fee, market_price_fee, party_code, model_id, weight, volume, status
    </sql>

</mapper>
