<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.SpuExtensionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.SpuExtension">
        <id column="spu_extend_id" property="spuExtendId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="spu_id" property="spuId" />
        <result column="sale_num" property="saleNum" />
        <result column="actual_stock" property="actualStock" />
        <result column="lock_stock" property="lockStock" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        spu_extend_id, create_time, update_time, spu_id, sale_num, actual_stock, lock_stock, stock
    </sql>

</mapper>
