<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.SpuTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.SpuTag">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="title" property="title" />
        <result column="shop_id" property="shopId" />
        <result column="status" property="status" />
        <result column="is_default" property="default" />
        <result column="prod_count" property="prodCount" />
        <result column="style" property="style" />
        <result column="seq" property="seq" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, title, shop_id, status, is_default, prod_count, style, seq, delete_time
    </sql>

</mapper>
