<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.AttrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.Attr">
        <id column="attr_id" property="attrId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="shop_id" property="shopId" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="search_type" property="searchType" />
        <result column="attr_type" property="attrType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attr_id, create_time, update_time, shop_id, name, desc, search_type, attr_type
    </sql>

</mapper>
