<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_seata.dao.GlobalTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_seata.model.GlobalTable">
        <id column="xid" property="xid" />
        <result column="transaction_id" property="transactionId" />
        <result column="status" property="status" />
        <result column="application_id" property="applicationId" />
        <result column="transaction_service_group" property="transactionServiceGroup" />
        <result column="transaction_name" property="transactionName" />
        <result column="timeout" property="timeout" />
        <result column="begin_time" property="beginTime" />
        <result column="application_data" property="applicationData" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        xid, transaction_id, status, application_id, transaction_service_group, transaction_name, timeout, begin_time, application_data, gmt_create, gmt_modified
    </sql>

</mapper>
