<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_product.dao.SpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_product.model.Spu">
        <id column="spu_id" property="spuId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="brand_id" property="brandId" />
        <result column="category_id" property="categoryId" />
        <result column="shop_category_id" property="shopCategoryId" />
        <result column="shop_id" property="shopId" />
        <result column="name" property="name" />
        <result column="selling_point" property="sellingPoint" />
        <result column="main_img_url" property="mainImgUrl" />
        <result column="img_urls" property="imgUrls" />
        <result column="video" property="video" />
        <result column="price_fee" property="priceFee" />
        <result column="market_price_fee" property="marketPriceFee" />
        <result column="status" property="status" />
        <result column="has_sku_img" property="hasSkuImg" />
        <result column="seq" property="seq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        spu_id, create_time, update_time, brand_id, category_id, shop_category_id, shop_id, name, selling_point, main_img_url, img_urls, video, price_fee, market_price_fee, status, has_sku_img, seq
    </sql>

</mapper>
