<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spud.nimbus.nimbus_platform.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spud.nimbus.nimbus_platform.model.SysUser">
        <id column="sys_user_id" property="sysUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="nick_name" property="nickName" />
        <result column="avatar" property="avatar" />
        <result column="code" property="code" />
        <result column="phone_num" property="phoneNum" />
        <result column="has_account" property="hasAccount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_user_id, create_time, update_time, nick_name, avatar, code, phone_num, has_account
    </sql>

</mapper>
